<ion-header>
  <ion-toolbar>
    <ion-title>
      Movis-ionic-2020
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="onBeerClick()">
        <ion-icon name="beer" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of cardsData">
    <img src="../../assets/shapes.svg" alt="SVG image">
    <ion-card-header>
      <ion-card-title>{{item.title}}</ion-card-title>
      <ion-card-subtitle>{{item.subtitle}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
        {{item.contentText}}
    </ion-card-content>

    <ion-buttons class="ion-justify-content-end">
      <ion-button (click)="alert()">clickeame</ion-button>
    </ion-buttons>

  </ion-card>
</ion-content>
